<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<connectionStrings>
		<add name="MiConexionSQL"
			 connectionString="Server=DESKTOP-MNERH9E\SQLEXPRESS;Database=dbAmonic;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="System.Data.sqlClient"/>
			
	</connectionStrings>
	
</configuration>